/*
*
*   CSS - Layout
* 
*   01. General
*   02. Header / Navigation
*   03. Hero
*   04. About me
*   05. Projects
*   06. Skills
*   07. Contact me 
*   08. Footer
*/


/*
*   01. General
*/

:root {
    --DarkSienna: hsl(344, 44%, 15%);
    --EnglishViolet: hsl(285, 22%, 32%);
    --Rhythm: hsl(266, 13%, 49%);
    --ShadowBlue: hsl(212, 22%, 61%);
    --PaleCerulean: hsl(200, 35%, 74%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1, 
h2, 
h3,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin-block-end: 3.125rem;
}

h2 {
    font-size: 1.5rem;
    margin-block-end: 1.25rem;
}

h3 {
    font-size: 1.17rem;
}


section, footer {
    background-color: var(--DarkSienna);
    color: var(--white);
    padding-block: 6.25rem;
}

section div, footer div, header div {
    max-width: 1000px;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 0.5rem;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    color: var(--black);
    box-shadow: hsl(184deg 28% 56% / 38%) 0 4px 14px 0;
    white-space: nowrap;
    border-radius: 0.5rem;
    padding: 0.96875rem 4.5rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.button:hover {
    box-shadow: rgb(111 170 174 / 23%) 0px 6px 20px;
    background: hsla(0, 0%, 95%, 0.9);
}

/*
*   02. Header / Navigation
*/

header {
    position:fixed;
    inline-size: 100%;
    z-index: 5;
    transition: 0.3s ease-in-out;
}

header.scroll {
    background-color: var(--white);
    border-bottom: 1px solid var(--ShadowBlue);
}

header.scroll .container {
    color: var(--DarkSienna);
}

header.scroll a {
    color: var(--DarkSienna);
}

header .container {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: transparent;
}

header .container div {
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 1rem;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

/*
*   03. Hero
*/

#hero {
    block-size: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#hero div {
    inline-size: 100%;
}

#hero h1{ 
    font-size: 4.375rem;
}

/*
*   04. About me
*/

#about-me {
    background-color: var(--white);
    color: var(--DarkSienna);
}

#about-me div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me p { 
    max-inline-size: 700px;
    text-align: center;
}

#about-me img {
    margin-block-end: 1.25rem;
    inline-size: 200px;
    block-size: 200px;
}


/*
*   05. Projects
*/

#projects p {
    margin-block-end: 3.125rem;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#projects li {
    background-color: var(--white);
    color: var(--DarkSienna);
    inline-size: calc((1000px - 32px) / 3);
    block-size: 321px;
    border-radius: 0.5rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#projects li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    box-shadow: inset 0px -258px 111px -86px var(--DarkSienna);
}

#projects li p {
    margin: 0;
    color: hsl(0, 0%, 100%);
    z-index: 1;
}

#projects li h3 {
    z-index: 1;
    color: hsl(0, 0%, 100%);
    margin-block-end: 0.625rem;
}

#projects li img {
    object-fit: fill;
    inline-size: 100%;
    block-size: 100%;
    position:absolute;
    left: 0;
    top: 0;
}

/*
*   06. Skills
*/

#skills {
    padding-block-start: 0px;
}

#skills li {
    inline-size: 60px;
    block-size: 60px;
    border-radius: 1.875rem;
    margin-inline-end: 0.625rem;
    background-color: var(--white);
    display:inline-block;
}

/*
*   07. Contact me
*/

#contact-me {
    background-color: var(--white);
    color: var(--DarkSienna);
}

#contact-me form {
    inline-size: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
    margin-block-start: 3rem;
}

#contact-me form div {
    position: relative;
}

#contact-me form input,
#contact-me form textarea {
    transition: 0.3s ease-in-out;
    padding: .75rem 1.25rem;
}

#contact-me form input:focus,
#contact-me form input:valid,
#contact-me form textarea:focus,
#contact-me form textarea:valid {
    background-color: hsl(0, 0%, 95%);
    outline: 0;
}

#contact-me form input ~ label,
#contact-me form textarea ~ label {
    position: absolute;
    top: .75rem;
    left: 1.25rem;
    transition: 0.3s ease-in-out;
}

#contact-me form input:focus ~ label,
#contact-me form input:valid ~ label,
#contact-me form textarea:focus ~ label,
#contact-me form textarea:valid ~ label {
    transform: translateX(-20px) translateY(-30px);
    font-size: 12px;
}

#contact-me form .input-text {
    inline-size: calc(50% - (15px / 2));
}

#contact-me form .input-textarea {
    inline-size: 100%;
    margin-block-start: 0.9375rem;
}

#contact-me form div input,
#contact-me form div textarea {
    inline-size: 100%;
    border: 0;
    border-bottom: 1px solid var(--DarkSienna);
    background-color: hsl(0, 0%, 98%);
}

#contact-me form input.button {
    background-color: var(--EnglishViolet);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    border: 0;
    padding: 0.96875rem 4.5rem;
}

#contact-me form input.button:hover {
    background-color: hsl(285, 17%, 38%);
}

/*
*   08. Footer
*/

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    gap: 10px;
}

footer li {
    background-color: var(--white);
    inline-size: 30px;
    block-size: 30px;
    border-radius: 0.9325rem;
}

footer p {
    margin-block-start: 1.5rem;
}