/*
*
*   CSS - Layout
* 
*   01. General
*   02. Header / Navigation
*   03. Hero
*   04. About me
*   05. Projects
*   06. Skills
*   07. Contact me 
*   08. Footer
*/


/*
*   01. General
*/

:root {
    --DarkSienna: hsl(344, 44%, 15%);
    --EnglishViolet: hsl(285, 22%, 32%);
    --Rhythm: hsl(266, 13%, 49%);
    --ShadowBlue: hsl(212, 22%, 61%);
    --PaleCerulean: hsl(200, 35%, 74%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1, 
h2, 
h3,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin-block-end: 3.125rem;
}

h2 {
    font-size: 1.5rem;
    margin-block-end: 1.25rem;
}

h3 {
    font-size: 1.17rem;
}


section, footer {
    background-color: var(--DarkSienna);
    color: var(--white);
    padding-block: 6.25rem;
}

section div, footer div, header div {
    max-width: 1000px;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 8px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    color: var(--black);
    box-shadow: hsl(184deg 28% 56% / 38%) 0 4px 14px 0;
    white-space: nowrap;
    border-radius: 8px;
    padding: 0.96875rem 4.5rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.button:hover {
    box-shadow: rgb(111 170 174 / 23%) 0px 6px 20px;
    background: hsla(0, 0%, 95%, 0.9);
}
/*
*   02. Header / Navigation
*/

header {
    position:fixed;
    inline-size: 100%;
}

header .container {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container div {
    margin: 0;
}

nav ul li {
    display: inline-block;
}

/*
*   03. Hero
*/

#hero {
    block-size: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#hero h1{ 
    font-size: 4.375rem;
}

/*
*   04. About me
*/

#about-me {
    background-color: var(--white);
    color: var(--DarkSienna);
}

#about-me div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me p { 
    max-inline-size: 700px;
    text-align: center;
}

#about-me img {
    margin-block-end: 1.25rem;
    inline-size: 200px;
    block-size: 200px;
}


/*
*   05. Projects
*/

#projects p {
    margin-block-end: 3.125rem;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#projects li {
    background-color: var(--white);
    color: var(--DarkSienna);
    inline-size: calc((1000px - 32px) / 3);
    block-size: 321px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#projects li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    box-shadow: inset 0px -258px 111px -86px var(--DarkSienna);
}

#projects li p {
    margin: 0;
    color: hsl(0, 0%, 100%);
    z-index: 1;
}

#projects li h3 {
    z-index: 1;
    color: hsl(0, 0%, 100%);
    margin-block-end: 0.625rem;
}

#projects li img {
    object-fit: fill;
    inline-size: 100%;
    block-size: 100%;
    position:absolute;
    left: 0;
    top: 0;
}
/*
*   06. Skills
*/

#skills {
    padding-block-start: 0px;
}

#skills li {
    inline-size: 60px;
    block-size: 60px;
    border-radius: 30px;
    margin-inline-end: 10px;
    background-color: var(--white);
    display:inline-block;
}

/*
*   07. Contact me
*/

#contact-me {
    background-color: var(--white);
    color: var(--DarkSienna);
}



/*
*   08. Footer
*/